body {
  margin: 0;
  padding: 0;
}

/* POKEDEX STYLES */

.main-container {
  background-color: #676767;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.prev-button, .next-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

.prev-button {
  background-color: #f0f0f0;
  color: #333;
}

.next-button {
  background-color: #333;
  color: #f0f0f0;
}

.Pokedex {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5%;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* styles for screens with a width of 600px or less */
@media screen and (max-width: 600px) {
  .Pokedex {
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto; 
    height: calc(100vh - 100px);
  }
}

.PokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 3%;
}

/* styles for screens with a width of 600px or less */
@media screen and (max-width: 600px) {
  .PokemonCard {
    padding: 0.5rem;
  }
}

.PokemonName {
  font-size: 1rem;
  font-weight:bold;

}


/* POKEINFO STYLES */

.pokeinfo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.pokeinfo-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 85%;
  max-width: 500px;
  max-height: 85%;
  overflow-y: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pokeinfo-card h1 {
  text-align: center;
}

.PokeHDImage
{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.pokeinfo-images {
  display: flex;
  justify-content: center;
}

.pokeinfo-types {
  display: flex;
  justify-content: center;
}

.type {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.pokeinfo-details {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.move {
  font-weight: bold;
  border-radius: 5%;
  padding: 3%;
  text-align: center;
}


.pokeinfo-stats table {
  width: 100%; 
  border-collapse: collapse; 
}

.pokeinfo-stats th, .pokeinfo-stats td {
  border: 1px solid #ddd; 
  padding: 8px; 
}

.pokeinfo-stats tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.pokeinfo-stats th {
  background-color: #2b2b2b; 
  color: white;
}

.CloseButton {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #f0f0f0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* NAVBAR STYLES */

.Navbar-Images {
  display: flex;
  justify-content: center;
}

.NavImage {
  width: 100px;
  height: 100px;
}

.nav-link {
  color: white; 
  margin-right: 25px; 
  text-decoration: none;
  transition: font-weight 0.3s; 
  font-size: 23px;

}

.Nav-links-container {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #343a40; 
  padding: 20px;
}

.navbar-nav .nav-link.active {
  font-weight: bold; 
}

.navbar-nav .nav-link:hover {
  font-weight: bold;
}

/* LEGENDS STYLES */

.legends-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

.legend-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.legend-images img {
  width: 50%;
  height: 50%;
}

/* styles for screens with a width of 600px or less */
@media screen and (max-width: 600px) {
  .legend-images img {
    width: 75%; /* adjust as needed */
    height: auto; /* maintain aspect ratio */
  }
}

.sprites {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.sprites img {
  width: 25%;
  height: 25%;
}

.legend-info {
  flex: 2;
  margin-left: 20px;
}

.legend-info h2 {
  margin: 0;
  font-size: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #333;
  font-weight: bold;
}

.legend-info p {
  font-size: 20px;
  color: #666;
}


/* ABOUT STYLES */

.about-container {
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-tittle {
  color: #333;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 5%;
}

.about-introduction {
  color: #000;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.about-features, .pokeapi-information, .creators{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}

.about-features span, .pokeapi-information span {
  font-weight: bold;
}

.pokeapi-header-with-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pokeapi-header-with-logo img {
  max-width: 15%;
}